@import '../../assets/styles/global.scss';

.gradient {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: .3s;
  background: $gradient;
  box-shadow: 0vh 2.222vh 6.111vh -1.111vh rgba(254, 79, 63, 0.69);

  &:hover {
    opacity: 1;
  }
}