@import '../../assets/styles/global.scss';

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.389vh;

  .icon {
    width: 6.204vh;
    height: 6.204vh;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    transition: .3s;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gradient;

    svg {
      z-index: 1;
      position: relative;
    }
  }

  .textContent {
    display: flex;
    flex-direction: column;
    margin-top: -0.926vh;

    h1 {
      font-weight: 700;
      font-size: 4.444vh;
      line-height: 5.463vh;
      color: #FFFFFF;
    }

    p {
      width: 34.537vh;
      font-weight: 400;
      font-size: 1.667vh;
      line-height: 2.037vh;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}