.wrapper {
  background: url("./assets/images/background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}